///// clases para esconder cosas de desktop
@media @desktop_media {
    .hide-on-desktop, .only-on-mobile { display: none !important; }
}

@media @mobile_media {
    /////////////////////////////////////////////////////////
    ///////////////////////////////////// Auxiliares
    /////////////////////////////////////////////////////////
    .mobile-marginate {
        &.top { margin-top: @regular_vertical_margin; }
        &.bottom { margin-bottom: @regular_vertical_margin; }
    }

    /////////////////////////////////////////////////////////
    ///////////////////////////////////// Estructura
    /////////////////////////////////////////////////////////
    .mobile-full {
        float: none;
        width: 100%;
    }

    .container {
        padding-left: 10px;
        padding-right: 10px;
        max-width: 640px;
    }

    .column {
        float: none;
        margin-left: 0;

        &.full, &.half, &.thirds, &.quarters, &.three-quarters, &.big-gap {
            width: 100%;
            margin-left: 0;
        }

        &.full, &.half, &.thirds, &.two-thirds, &.quarters, &.three-quarters {
            width: 100%;
            margin-left: 0;
        }

        &.big-gap {
            margin-left: 0;
            &.full, &.half, &.thirds, &.two-thirds, &.quarters, &.three-quarters {
                width: 100%;
            }
        }

        &.huge-gap {
            margin-left: 0;
            &.full, &.half, &.thirds, &.two-thirds, &.quarters, &.three-quarters {
                width: 100%;
            }
        }

        &.no-gap {
            &.quarters {
                width: 100%;
            }
        }
    }

    .mobile-column {
        float: left;
        margin-left: 5%; // 5% de 320 = 16px
        &.full { width: 100%; }
        &.half { width: 47.5%; }
        &.quarters { width: 21.25%; }
        &.three-quarters { width: 73.75%; }
        &.thirds { width: 30%; }
        &.two-thirds { width: 65%; }
        &:first-child { margin-left: 0; }
    }


    /////////////////////////////////////////////////////////
    ///////////////////////////////////// Objetos
    /////////////////////////////////////////////////////////
    .mobile-justify-text { 
        text-align: justify; 
    }

    .mobile-centered-text { 
        text-align: center; 
    }

    .mobile-lefted-text { 
        text-align: left; 
    }

    .mobile-righted-text { 
        text-align: right; 
    }

    .mobile-bold-text {
        font-weight: bold;
    }

    .mobile-bordered-top {
        border-top: 1px solid @header_grey;
    }

    .button {
        &.mobile-block-btn {
            display: block;
            width: 100%;
        }
        &.deploy-btn {
            padding: 5px;
            text-align: center;
            &:after { display: none; }
        }
        &.main-search-submit {
            padding: 5px;
            font-size: 17px;
        }

        &.social-btn {
            font-size: 4em;
        }
    }

    .big-icon-holder {
        &.mobile-centered-icon {
            display: block;
            float: none;
            margin: 0 auto .5em auto;
        }
    }


    .main-search-form {
        input[type="search"] {
            width: 85%;
            padding: 5px;
        }

        input[type="submit"], button[type="submit"] {
            width: 15%;
        }
    }

    .mobile-bordered-section {
        padding: 5px 0;
        margin: 5px 0;

        border: 1px solid @blocks_border_grey;
        border-width: 1px 0 1px 0;
    }

    .big-header-box {
        margin-top: -1px;
    }

    .big-header-box-header {
        .set-bg-img( url('../images/icons/chevron-down.svg'), url('../images/icons/chevron-down.png') );
        background-repeat: no-repeat;
        background-position: 95% 50%;
        background-position: ~"calc(100% - 10px)" 50%;
        background-color: #fff;

        &.big-header { padding: 7px; } 

        h2, h4 {
            font-size: 13px;
            text-align: left;
        }

        .deployed & {
            .set-bg-img( url('../images/icons/chevron-up.svg'), url('../images/icons/chevron-up.png') );
        }
    }

    .big-header-box-body {
        display: none;
        font-size: 11px;
        .deployed & { display: block; }
    }

    .product-comment-author-holder, .product-comment-body-holder {
        float: none;
        width: 100%;
    }

    .product-carousel-items {
        width: 100%;
    }

    .product-carousel-item {
        width: 100%;
    }

    .fake-table {
        display: block;

        &.bordered-table {
            border: 1px solid @header_grey;
            .fake-row { border-top: 1px solid @header_grey; }
            .fake-td, .fake-th { border: 0; }
        }

        .fake-row, .fake-td, .fake-th {
            display: block;
            width: 100%;
        }

        .fake-row, .fake-td {
            .clearfix;
        }

        .radio-column {
            float: left;
            width: 10%;
            text-align: center;
        }

        .info-column {
            width: 85%;
            margin-left: 10%;
        }

        
    }


    /////////////////////////////////////////////////////////
    ///////////////////////////////////// Header
    /////////////////////////////////////////////////////////
    .main-header {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .logo-holder {
        padding-top: 0;
        max-width: 47.5%;
        margin-right: 5%;
    }

    .other-actions-holder {
        max-width: 47.5%;
    }

    .account-notifier {
        font-size: 16px;
        color: @washed_text_color;
        background: #fff;
        border: 1px solid @blocks_border_grey;
        min-width: 40px;
        text-align: center;

        &:active { border-color: #000; }
    }

    .main-navigation-item {
        margin-left: 0;
        margin-right: 5%;

        &:last-child { margin-right: 0; }

        &.submenu-holder { 
            width: 10%; 
            position: relative;
        }
        &.search-holder { width: 85%; }
    }


    /////////////////////////////////////////////////////////
    ///////////////////////////////////// Contenido
    /////////////////////////////////////////////////////////
    .main-promos-holder {
        width: 100%;
        margin-left: 0;
    }

    .main-promo-slider-bullets {
        padding-right: 0;
        text-align: center;
    }

    .secondary-promo-row {
        .column {
            margin-bottom: @regular_vertical_margin;
            &:last-child { margin-bottom: 0; }
        }
    }

    .mobile-back-holder {
        display: block;
        border-bottom: 1px solid @blocks_border_grey;
        a { padding: 10px 0; }
    }

    .product-title {
        padding-top: 0.5em;
        font-size: 1.5em;
        line-height: 120%;
    }

    .mobile-product-prize {
        line-height: 2em;
        font-size: 11px;
    }

    .regular-content-section {
        margin-top: 1em;
    }

    .regular-content-section-title {
        font-size: 1em;
        background: #fff;
        border-bottom: 1px solid @header_grey;
        text-align: center;

        &.preserve-in-mobile {
            background: @header_grey;
            text-align: left;
            font-size: 1.25em;
        }
    }

    .inline-input-container {
        border-radius: @border_radius;
        border: 1px solid @header_grey;

        label, input {
            display: table-cell;
            vertical-align: middle;
            padding: 5px;
        }

        .inline-item {
            &.mobile-va-top { vertical-align: top; }
            &.mobile-va-middle { vertical-align: middle; }
        }


        .regular-input {
            border-radius: 0;
            border: none;
        }
    }

    .inner-padded-content  {
        padding: 0;
    }

    .mobile-menu-title {
        padding: 5px 0;
    }

    .sidebar-item-list {
        display: block;
        padding: 0;
        li { 
            overflow: hidden; 
            border: 1px solid @blocks_border_grey;
            margin-top: -1px;

            &.deployed > a {
                .set-bg-img( url('../images/icons/chevron-up.svg'), url('../images/icons/chevron-up.png') );
            }
        }
        a {
            padding: 10px;
            font-weight: bold;
            .set-bg-img( url('../images/icons/chevron-down.svg'), url('../images/icons/chevron-down.png') );
            background-repeat: no-repeat;
            background-position: 95% 50%;
            background-position: ~"calc(100% - 10px)" 50%;
        }
    }

    .sidebar-submenu {
        .deployed & { display: block; }
        a {
            font-weight: normal;
            border: 1px solid @blocks_border_grey;
            border-width: 1px 0 1px 0;
            margin-top: -1px;
            padding-left: 2em;
            .set-bg-img( url('../images/icons/chevron-right.svg'), url('../images/icons/chevron-right.png') );
        }
    }

    ///////// carro compras
    .cart-item-data-holder, .cart-item-promos-cells {
        .clearfix;
        display: block;
        padding: 10px;
        position: relative;
    }

    .cart-item-data {
        display: block;
        border-left: 0;
        padding: 0;

        &.product, &.product-name, &.details, &.price, &.total, &.delete { width: auto; }

        &.product {
            float: left;
            width: 40%;
            margin-right: 2%;
        }

        &.product-name, &.details, &.price, &.total, &.delete {
            margin-left: 42%;
            margin-right: 9%;
        }

        &.delete {
            [data-role="delete_btn"] {
                position: absolute;
                top: 10px;
                right: 10px;
                width: auto;
                padding: 0;

                .text { display: none; }

                [data-role="icon"] { 
                    font-size: 28px; 
                    padding: 0;
                }
            }
        }
    }

    .cart-item-promos-holder {
        padding-left: 0;
    }

    .cart-item-promos-title {
        font-size: 13px;
        border: 1px solid @blocks_border_grey;
        border-width: 1px 0 1px 0;
    }
    
    .cart-item-promo {
        display: block;
        border-left: 0;
        padding: 0;

        &.photo, &.info, &.price, &.total, &.delete { width: auto; }

        &.photo {
            float: left;
            width: 40%;
            margin-right: 2%;
        }

        &.info, &.price, &.total, &.delete {
            margin-left: 42%;
            margin-right: 9%;
        }

        &.price { display: none; }
        &.total { font-size: 13px; }

        &.info {
            font-size: 13px;
            font-weight: bold;
        }

        &.delete {
            [data-role="delete_btn"] {
                position: absolute;
                top: 10px;
                right: 10px;
                width: auto;
                padding: 0;

                .text { display: none; }

                [data-role="icon"] { 
                    font-size: 28px; 
                    padding: 0;
                }
            }
        }

        .servicios & {
            &.info { display: none; }
            &.price { 
                font-size: 13px;
                display: block; 
                .pretty-select {
                    max-width: 100%;
                }
            }
        }
    }

    .add-to-cart-box-title {
        padding: 0 5px 5px 5px;
        border-bottom: 1px solid @blocks_border_grey;
        margin-bottom: .5em;
    }

    .add-to-cart-box-lead {
        margin-bottom: .5em;
    }

    .add-to-cart-box-inputs {
        margin-bottom: .5em;
    }

    .shopping-cart-details-holder {
        padding: 0;
        .button { margin-bottom: 1em; }
    }

    ///////// Busqueda
    .page-sidebar-title.search-filters-heading {
        font-size: 16px;
        background: @header_grey;
        padding: 5px;
        text-transform: none;
        border: 1px solid @blocks_border_grey;
        margin-top: 1em;
    }

    .search-filters-menu {
        margin: 0 0 1em 0;
    }

    .search-filter {
        overflow: hidden;
    }

    .search-filter-title {
        font-weight: normal;
        padding: 7px;
        border-width: 1px;
        margin-top: -1px;

        .set-bg-img( url('../images/icons/chevron-down.svg'), url('../images/icons/chevron-down.png') );
        background-repeat: no-repeat;
        background-position: 95% 50%;
        background-position: ~"calc(100% - 10px)" 50%;
        background-color: #fff;

        .deployed & {
            .set-bg-img( url('../images/icons/chevron-up.svg'), url('../images/icons/chevron-up.png') );
        }
    }

    .search-filter-options {
        display: none;
        border: 1px solid @header_grey;
        margin-top: -1px;

        .deployed & { display: block; }
    }

    .search-details-holder {
        margin-top: 1em;

        .search-details-title { font-size: 16px; }
        p { margin-left: 1em; }
    }

    .search-tabs-holder {
        display: table;

        .search-tab-item {
            display: table-cell;
        }
    }

    .search-pagination-holder {
        font-size: 16px;
        font-weight: bold;
        padding: 10px 0;
        text-align: center;
    }

    .search-pagination-item {
        padding: 7px 15px;

        &.prev-btn { float: left; }
        &.next-btn { float: right; }
    }

    .search-results-holder {
        .search-result-item { float: none; }
        &.grid-3x4 .search-result-item, &.grid-4x4 .search-result-item, &.grid-1x10 .search-result-item {
            float: none;
            width: 100%;
        }
    }

    .search-result-item {
        .search-result-column {
            float: none;
            padding: 0;

            &.photo-holder, &.data-holder, &.colors-holder, &.ranks-holder {
                border-left: 0;
                width: 100%;
            }

            &.colors-holder, &.ranks-holder {
                display: none;
            }
        }
    }

    .search-result-product-data {
        .rating-holder { margin-top: 5px; }
    }

    .search-result-title {
        font-size: 18px;
        line-height: 110%;
    }

    .search-result-price {
        font-size: 2.5em;
        line-height: 110%;
        font-weight: normal;
    }


    ///////// Checkout
    .checkout-steps-holder {
        display: block;
        border: 0;
        line-height: 1.2;

        .checkout-steps-title {
            display: block;
            width: 100%;
            font-size: 2em;
            padding: 5px 0;
            border-bottom: 1px solid @header_grey;
            margin-bottom: 0.5em;
        }

        .checkout-steps-items-holder {
            border: 1px solid @header_grey;
        }

        .checkout-step-item {
            width: auto;
            &:after { display: none; }
            &.active:after, &.current:after { display: inline; }

            &.past {
                background-image: none;
                padding-right: 10px;
            }
        }
    }

    .checkout-invitation-box {
        text-align: center;
        line-height: 140%;
        &.padded-message { padding: 5px; }

        .big-icon-holder.mobile-centered-icon {
            width: 35px;
            height: 35px;
            background-size: 30px 30px;
            margin: 0 auto;
        }

        .more-bigger-paragraph {
            font-size: 14px;
            font-weight: bold;
        }

        .bigger-paragraph {
            font-size: 12px;
        }
    }

    .checkout-info-column {
        border-color: @blocks_grey;
    }

    .checkout-preferences-box {
        padding: (@base_font_size / 2);

        &.table-holder {
            display: block;
        }

        .cell-box {
            display: block;

            &.icon-holder { 
                width: 15%; 
                float: left;
                margin-right: 3%;
            }

            &.title-holder, &.info-holder {
                width: auto;
                margin-left: 18%;
                line-height: 160%;
            }

            &.title-holder { 
                font-size: 14px;
            }

        }
    }

    .checkout-address-selection, .checkout-address-actions-holder {
        padding-right: 0;
        padding-left: 0;
        border-left: 0;
    }

    .checkout-address-actions-holder {
        border-top: 1px solid @blocks_border_grey;
        padding-top: 10px;
        margin-top: 10px;
    }

    .checkout-address-action {
        text-align: center;

        .icon-element {
            display: block;
            float: none;
            margin: 0 auto 10px auto;
            text-align: center;
        }

        &.mobile-column {
            margin-bottom: 0;
            .icon-element {
                float: left;
                margin-bottom: 0;
                font-size: 25px;
                margin-right: 5px;
            }
        }
    }

    .checkout-cart-table {
        font-size: 11px;

        // columnas proporcionales
        .cart-table-heading { width: 90%; }
        .cart-table-action { 
            font-size: 16px;
            width: 10%; 
        }

        .cart-table-product { 
            text-align: center;
            img { margin-bottom: 5px; }
        }

        .cart-table-price  {
            .bigger-paragraph {
                img { max-width: 50%; }
                font-size: 13px;
            }
        }
    }

    .payment-methods-tab-item {
        background: #fff;
    }

    .mobile-payment-method-title {
        display: table;
        width: 100%;
        vertical-align: middle;
        padding-bottom: 1em;
        margin-bottom: 1em;
        border-bottom: 1px solid @blocks_border_grey;

        img { width: 90%; height: auto; }
        span { width: 80%; }

        img, span {
            display: table-cell;
            vertical-align: middle;
        }
    }


    /////////////////////////////////////////////////////////
    ///////////////////////////////////// Mi Cuenta
    /////////////////////////////////////////////////////////
    
    #mi-cuenta, .servicio-cliente {

        margin-top: 10px;
        
        .side {

            border:1px solid #ccc;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 0;

            h2 {
                border-bottom: none;
                background-color: #e3e3e3;
                font-size: 14px;
                padding:0.5em 0 0.5em 1em;
                margin-bottom: 0;
            }

            div {

                &:first-child {
                    border-top: 0;
                }

                border-top: 1px solid #ccc;
                h4 {
                    cursor:pointer;
                    margin:8px 0;
                    background: url(../images/icons/chevron-down.svg) 98% 50% no-repeat #fff;

                    &.deployed {
                        background: url(../images/icons/chevron-up.svg) 98% 30% no-repeat #fff;
                        border-bottom: 1px solid #ccc;
                        padding-bottom: 10px;
                    }
                }
                ul {
                    display: none;
                }

                &.deployed {

                    ul {
                        display: block;
                        margin-bottom: 10px;

                        li {
                            min-height: 20px;
                            a {
                                text-decoration: none;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }

        .cont-cuenta {
            width: 100%;
            margin-left: 0;
            float: none;

            h2 {
                border-bottom: none;
                background-color: #f0f0f0;
                font-size: 14px;
                padding:0.5em 0 0.5em 1em;
                margin-bottom: 0;
            }

            .cambio-clave {
                padding: 1em;
                border:1px solid #f0f0f0;
                .inline-input-container {
                    margin-bottom: 10px;
                    margin-top: 5px;
                }
                .regular-col {
                    min-width: 110px;
                    width: 30%;
                }
                .regular-input {
                    width: 100%;
                    border:0;
                }
            }

            .caja-datos {
                h2 {
                    border-bottom: none;
                    background-color: #f0f0f0;
                    font-size: 14px;
                    padding: .5em 0 .5em 1em;
                    margin-bottom: 0;
                }
                &.datos-tarjeta {
                    .regular-col {
                        width: 15%;
                        min-width: 100px;
                    }
                    .regular-input {
                        border:0;
                        width: 100%;
                    }
                }
            }
            .guardar-cambios {
                margin-top: 10px;
                margin-left: 0;
                margin-right: 0;
            }
            div.table {
                ul.table-row {
                    li {
                        display: block;
                        padding-left: 2%;
                        border-top:0;
                        border-left: 0;
                        text-align: left;
                        padding:0;
                        width: 100%;

                        &:after, &:before {
                            content: "";
                            display: table;
                            clear: both;
                        }

                        span, a {
                            width: 50%;
                            float: left;
                            position: relative;
                            padding: 0.8em 1em;
                            box-sizing: border-box;

                            .dos-puntos {
                                position: absolute;
                                top: 18%;
                                right: 2%;
                                font-style: normal;
                            }
                        }
                        span:first-child {
                            &:after {
                                position: absolute;
                                right: 0;
                                content: ":";
                            }
                        }

                        div {
                            float: left;
                            width: 50%;
                            span {
                                border:0 !important;
                                float: left !important;
                            }

                            &.separacion {
                                &:after {
                                    display: none !important;
                                }
                            }
                        }

                        &:first-child {
                            border-top: 1px solid #f0f0f0;
                            padding: 0;
                        }
                        .icono {
                            padding: 10px;
                        }
                    }

                    &:first-child {
                        li {
                            border-top:0;
                        }
                    }

                    &.lista-p {
                        li {

                            border-top: 1px solid #f0f0f0;

                            &:first-child {
                                border-top: 0;
                            }
                            span {
                                width: 100%;

                                &:first-child {
                                    &:after {
                                        display: none;
                                    }
                                }
                                i {
                                    margin-right: 10px;
                                }
                            }

                            a {

                                width: 100%;

                                span {
                                    display: inline-block;
                                    margin-right: 5px;
                                    width: auto;
                                    float: none;
                                    padding-left: 0;
                                    padding-top: 0;
                                    padding-bottom: 0;
                                }
                                i {
                                    float: left;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
                &.total {
                    .table-row {

                        li {
                            float: left;
                            width: 50%;

                            span {
                                width: 100%;

                                &:after {
                                    display: none;
                                }
                            }

                            &:first-child {
                                border-right: 1px solid #f0f0f0;
                                text-align: right;
                                border-top:0;
                            }
                        }

                        &:first-child {
                            li {
                                border-bottom: 1px solid #f0f0f0;
                            }
                        }
                    }
                }
            }

            .datos-direccion {

                padding-top: 0;

                .cont-form {
                    border:1px solid #f0f0f0;
                    padding: 1em;
                }
                .regular-section {
                    .column {
                        &.half {
                            &.mitad-m {
                                width: 49%;
                                float: left;
                                &.m-left {
                                    margin-left: 2%;
                                }
                            }
                        }
                    }
                }
                .inline-input-container {
                    .select {
                        &.no-style {
                            background: 0 0;
                            border: 0;
                            padding-left: 1px;
                            width: 100%;
                        }
                    }
                    .codigo-postal {
                        width: 40%;
                    }
                    .buscar-codigo {
                        font-size: 10px;
                        margin-left: 0;
                    }
                    .regular-input {
                        &.cod {
                            width: 25%;
                        }
                        &.numero {
                            width: 74%;
                        }
                    }
                }
            }
            .cupones {

                .regular-section {
                    padding: 0 1em;
                    border-bottom: 0;
                }
                .activar {
                    float: none;
                }
            }

            .select {
                &.cod {
                    width: 15%;
                }
                &.tienda {
                    width: 40%;
                }
            }
            form.listas {
                label.auto {
                    width: auto;
                    margin-right: 10px;
                }
                input.calendario {
                    width: 110px;
                    margin-right: 5px;
                }
            }
            .lista-productos {

                border-top: 0;

                .producto {

                    .descripcion {
                        display: block;
                        width: 100%;
                        margin-bottom: 10px;

                        div.info-producto {
                            p.precio {
                                font-size: 18px;
                            }
                            p.precio-n {
                                font-size: 12px;
                            }
                        }
                    }
                    .acciones {
                        display: block;
                        width: 100%;

                        .cantidad {
                            width: 50%;
                            padding-top: 10px;

                            .half {
                                float: left;
                            }
                        }
                        .botones {
                            width: 50%;
                            padding-top: 10px;
                        }
                    }
                }
            }
            #seguimiento {
                .datos {
                    padding: 1em;
                    border:1px solid #f0f0f0;

                    p.campos {
                        margin-bottom: 10px;
                        width: 100%;
                        margin-right: 0;
                    }
                    input.codigo {
                        width: 45%;
                        display: inline-block;
                        vertical-align: top;
                    }
                }
            }
        }
    }

    .servicio-cliente {
        .side.ser-cliente {
            h4 {
                i {
                    display: none;
                }
            }
        }

        .cont-servicios {
            .caja {
                 height: auto;
                 padding-bottom: 10px;
                 min-height: inherit;
                 margin-bottom: 10px;
                .tit {
                    background: #f0f0f0;
                    font-size: 1.1em;
                    padding: 0.5em 0 0.5em 0.3em;
                    cursor: pointer;
                }

                .sup {
                    padding-top: 10px;
                    min-height: 50px;
                    padding-left: 1em;
                    .sub {
                        padding:0.4em 1em .5em .5em;
                        font-size: 1.1em;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }
                }

                .links {
                    list-style: none;
                    font-size: 12px;
                    padding-left: 1em;
                    display: none;
                    li {
                        margin-bottom: 5px;
                        a {
                            font-size: 13px;
                        }
                    }
                }
                &.deployed {
                    h2.deployed {
                        i {
                            &:before {
                                content: "\f077";
                            }
                        }
                    }
                    ul {
                        display: block;
                    }
                }
            }
        }
    }

    .aplicaciones-m {
        .aplicacion {

            .descrip {
                padding:1em 1em 2em 7em;
            }
            .icon-app {
                position: absolute;
                top: 26%;
                left: 10px;
            }
            .get-app {

                padding: 0 10px;

                a {
                    margin: 5px 0;
                }
            }
        }
    }
    .site-map {
        .caja-listado {
            border:1px solid @dark_blocks_grey;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        .tit-listado {
            background-color: @blocks_grey;
            padding:0.3em 0.5em;
            margin-bottom: 0;
        }
        .listado {

            li.list-item {

                border-top: 1px solid @dark_blocks_grey;
                margin-bottom: 0;

                ul {
                    display: none;
                }
                h4 {
                    position: relative;
                    padding:0.5em 0.5em;
                    cursor: pointer;
                    margin-bottom: 0;
                    i {
                        position: absolute;
                        right: 2%;
                    }
                }

                &.deployed {
                    h4 {

                        i {

                            &:before {
                                content: "\f077";
                            }
                        }
                    }
                    ul {
                        display: block;
                        li {
                            list-style-type: disc;
                            list-style-position: inside;
                        }
                    }
                }
                &:first-child {
                    border-top: 0;
                }
            }
        }
    }

    .registro {
        .regular-content {

            border:1px solid #f0f0f0;

            .regular-content-tittle {
                border-bottom: 0;
                font-size: 16px;
            }

            .regular-section {
                .half {
                    padding: 0 0.5em;

                    &.padding-right {
                        padding:0.5em;
                    }

                    .select {
                        background: none;
                        border:0;
                        padding-left: 1px;

                        &.fecha-de-n {
                            border:1px solid #e3e3e3;
                            width: 32%;
                            margin:0 0 0 2%;

                            &.no-marginl {
                                margin-left: 0;
                            }
                        }
                        &.full-m{
                            width: 100%;
                        }
                    }
                    .no-style {
                        border:0;
                    }
                    .block-m {
                        width: 100%;
                        display: block;
                    }
                    .codigo-postal {
                        width: 40%;
                    }
                    .buscar-codigo {
                        line-height: 26px;
                        margin-left: 0;
                        font-size: 10px;
                    }
                }
            }
            .configura {
                margin: 0 1%;
                width: 98%;
            }
        }
    }

    .full-m {
        width: 100% !important;
    }

    .marginbot-m10 { margin-bottom: 10px; }
    .no-padding-m { padding:0 !important; }
    .no-margin-m { margin: 0 !important; }
    .padding10-m { padding: 10px; }
    .no-border-m { border: 0 !important; }
    .border-m { border:1px solid #f0f0f0 !important;}
    .border-v {
        border-top: 1px solid #f0f0f0;
        border-bottom: 1px solid #f0f0f0;
    }
    .padding1em-m { padding: 1em;}

    /////////////////////////////////////////////////////////
    ///////////////////////////////////// Footer
    /////////////////////////////////////////////////////////
    .mobile-footer-section {
        padding: 5px;
        border-top: 1px solid @blocks_border_grey;
    }

    .footer-phone-holder {
        font-weight: normal;

        .big-icon { line-height: 40px; }
        .footer-phone-number {
            a { font-size: 35px; line-height: 30px; }
        }
    }

    //////////////////// Lightbox
    .lightbox-content {
        width: 90%;
        padding: 0.5em;
        margin-left: -45%;
        font-size: 11px;

        .input-holder { width: 10%; }
        .code-holder { width: 20%; }
        .date-holder { width: 20%; }
        .desc-holder { width: 30%; }
    }

    .lightbox-title {
        font-size: 1.5em;
    }


    //// clases auxiliares
    .hide-on-mobile, .only-on-desktop { display: none !important; }
}